@import "./mobileDesign.scss";

.restBody{
    @include xs{
        .restHeader{
            padding: 12px 10px;

            h2{
                font-size: 15px;
                line-height: 19px;
                text-wrap: nowrap;
            }
            .themeIcon{
                svg{
                    font-size: 13px;
                }
                p{
                    font-size: 14px;
                    line-height: 15px;
                    text-wrap: nowrap;
                }
            }

        }
        .searchCtnr{
            padding: 12px 10px;
            flex-direction: column;
            width: 100%;
            gap: 16px;
            top: 44px;
            align-items: center;

            .searchInput{
                width: 90%;
                padding: 9px 12px;
            }
            .dropdown{
                width: fit-content;
                align-self: center;
            }
        }
        .countriesCtnr{
            display: flex;
            flex-direction: column;
            padding: 20px 20px;
            align-items: center;
            padding-top: 190px;
            
            a{
                width: 280px;
            }
            .country{
                height: 250px;
                width: 100%;
                img{
                    height: 110px;
                }
                .countryName{
                    margin: 7px 0px;
                    font-size: 18px;
                }
                div{
                    p{
                        text-wrap: balance;
                        font-size: 12px;
                        line-height: 12px;
                    }
                }
            }
        }
        .countryCtnr{
            padding: 40px 15px;
            gap: 40px;
            padding-top: 200px;

            .countryInfo{
                flex-direction: column;
                gap: 30px;

                img{
                    max-width: 90%;
                }
                .infoCtnr{
                    gap: 30px;
                    padding-left: 12px;
                    h3{
                        font-size: 32px;
                        line-height: 25px;
                    }
                    .moreInfo{
                        span{
                            font-size: 14px;
                            line-height: 15px;
                            margin-bottom: 6px;
                            text-wrap: nowrap;
                        }
                    }
                    .borderCtnr{
                        h2{
                            font-size: 22px;
                            line-height: 23px;
                        }
                        .borderBtn{
                            font-size: 14px;
                            line-height: 13px;
                            padding: 6px 14px;
                            margin-right: 6px;
                            margin-bottom: 7px;
                        }
                    }
                }
            }
        }
    }
}