@import "./mobileDesign.scss";

.restBody{
    @include xs{
        .restHeader{
            padding: 12px 10px;

            h2{
                font-size: 15px;
                line-height: 19px;
                text-wrap: nowrap;
            }
            .themeIcon{
                svg{
                    font-size: 13px;
                }
                p{
                    font-size: 14px;
                    line-height: 15px;
                    text-wrap: nowrap;
                }
            }

        }
        .searchCtnr{
            padding: 12px 10px;
            flex-direction: column;
            width: 100%;
            gap: 16px;

            .searchInput{
                width: 90%;
                padding: 6px 12px;
            }
            .dropdown{
                width: fit-content;
            }
        }
        .countriesCtnr{
            display: flex;
            flex-direction: column;

            
            .country{
                height: 250px;
                img{
                    height: 110px;
                }
                .countryName{
                    margin: 7px 0px;
                    font-size: 18px;
                }
                div{
                    p{
                        text-wrap: nowrap;
                    }
                }
            }
        }
        .countryCtnr{
            padding: 40px 15px;
            gap: 40px;

            .countryInfo{
                flex-direction: column;
                gap: 40px;

                img{
                    max-width: 90%;
                }
                .infoCtnr{
                    h3{
                        font-size: 24px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}